body{
	background-color: #28AEFF;
}

.ask-header {
	text-align: center;
	vertical-align: center;
}

.ask-form textarea {
	width: 650px;
}

.question-item_title h1 {
	font-size: 20px;
}

.question-list {
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 650px;
}

.question-item_header_icon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: left;
}

.question-item_header_icon image {
	width: 30px;
	height: 30px;
	float: left;
	clear: left;
	overflow: hidden;
}

.question-item_header_top {
	margin-left: 20px;
	padding-left: 20px;
	font-weight: bold;
}

.question-item_writer {
	text-align: left;
}

.question-item_date {
	text-align: left;
	margin-left: 20px;
	padding-left: 20px;
	font-size: 13px;
	color: gray;
}

.question-item_body {
	text-align: left;
	padding-left: 5px;	
}

.question-item_body span {
	text-align: left;
}

.question-item {
	/*margin: 10px;*/
	padding: 10px;
	display: inline-block;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

.question-item:after{
    content: "";
    display: block;
    width: 95%;
    border-bottom: thin solid #bcbcbc;
}

.ask {
	background-color: #a0a0a0;
    padding:5px 35px 50px;
    width: 700px;
    margin-top:30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align: center;
    height : 230px;

	position : absolute;
    left : 50%;
    margin-left : -350px;

    margin-top : 650px;
}

.qna{
	background-color: #a0a0a0;
    padding:35px 35px 50px;
    width: 700px;
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align: center;
    margin-top : 10%;
    position : absolute;
    left : 50%;
    margin-left : -350px;
    
}

.ask-form{
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
/*--https://webclub.tistory.com/554--*/
#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left; /* 플롯 중요(::after 가상요소 이용)*/
    width: 180px;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:15px;
    font-weight:700;
}

#button-blue:hover{
    background-color: white;
    color: #0493bd;
}

.ease {
    width: 0;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;

	position : absolute;
	left : 50%;
	margin-left : -100px;
}

.submit:hover .ease{
    
	position : absolute;
	left : 50%;
	margin-left : -100px;
    background-color:white;
}

.submit{
	position : absolute;
	left : 50%;
	margin-left : -100px;
}
/*-----------------------*/

.question-list{
	border-radius: 25px;
	overflow-y : scroll;
	overflow-x : hidden;
	height : 300px;
}

textarea{
	border-radius : 10px;
	outline : none;
}


#background{
	text-align: center;
	top:5%;
	color:white;

	position : absolute;
	left : 50%;
	margin-left : -100px;
}

#background img{
	width : auto;
	height : 114px;
}
